<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Accept a payment</title>
        <meta name="description" content="A demo of a payment on Stripe" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="checkOut.css" />
        <script src="https://js.stripe.com/v3/"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/

            var stripePublicKey = /*[[${stripePublicKey}]]*/ null;

            /*]]>*/
        </script>
        <script src="checkOut.js" defer></script>
    </head>
    <body>
    <p>SUCCESS!</p>

    </body>
</html>